<template>
  <f7-page>
    <f7-block-title>Add Category</f7-block-title>
    <form class="list-block">
        <ul>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Name
                        </div>
                        <div class="item-input">
                            <input v-model="category.category_name" type="text" placeholder="Category Name">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Description
                        </div>
                        <div class="item-input">
                            <textarea v-model="category.category_description" placeholder="Category Description"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-50">
                <a @click="$router.back()" class="link button button-fill button-big">Cancel</a>
            </div>
            <div class="col-50">
                <a v-on:click.prevent="storeCategory" class="button button-fill button-big">Submit</a>
            </div>
        </div>
    </form>
  </f7-page>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
            routeStoreCategory: 'http://inventory-sys.herokuapp.com/api/categories',
        },
        category: {
            category_name: '',
            category_description: '',
        }
      }
    },
    methods: {
        storeCategory: function () {
            var that = this;
            var data = {
                category_name: that.category.category_name,
                category_description: that.category.category_description,
            }
            axios.post(that.url.routeStoreCategory, data).then(function(response){
                that.$router.load({url: '/category/'})
            });
        }
    }
  }
</script>
