<template>
  <f7-page>
    <f7-block-title>Edit Category</f7-block-title>
    <form class="list-block">
        <ul>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Name
                        </div>
                        <div class="item-input">
                            <input v-model="category.category_name" type="text" placeholder="Category Name">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Description
                        </div>
                        <div class="item-input">
                            <textarea v-model="category.category_description" placeholder="Category Description"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-50">
                <a @click="$router.back()" class="link button button-fill button-big">Cancel</a>
            </div>
            <div class="col-50">
                <a v-on:click.prevent="updateCategory" class="button button-fill button-big">Submit</a>
            </div>
        </div>
    </form>
  </f7-page>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
            routeCreateCategory: 'http://inventory-sys.herokuapp.com/api/categories/create',
            routeUpdateCategory: '',
            routeEditCategory: '',
        },
        category: {
            category_name: '',
            category_description: '',
        }
      }
    },
    created: function () {
        var that = this;
        that.url.routeEditCategory = 'http://inventory-sys.herokuapp.com/api/categories/'+that.$route.params.categoryId+'/edit';
        that.url.routeUpdateCategory = 'http://inventory-sys.herokuapp.com/api/categories/'+that.$route.params.categoryId;
        axios.get(that.url.routeEditCategory).then(function(response){
            that.category = response.data;
        });
    },
    methods: {
        updateCategory: function () {
            var that = this;
            var data = {
                category_name: that.category.category_name,
                category_description: that.category.category_description,
            }
            axios.patch(that.url.routeUpdateCategory, data).then(function(response){
                that.$router.load({url: '/category/'})
            });
        }
    }
  }
</script>
