<template>
  <f7-page>
    <form class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" v-model="search">
        </div>
    </form>
    <f7-block-title>Categories Table</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <a class="link icon-only" href="/category-create/"><i class="icon f7-icons">add_round</i></a>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">ID</th>
              <th class="label-cell">Name</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(category, index) in filterBy(categories, search, 'category_name')">
              <td class="label-cell">{{ category.id }}</td>
              <td class="label-cell">{{ category.category_name }}</td>
              <td class="actions-cell">
                <a class="link icon-only" v-on:click.prevent="editCategory(category.id)"><i class="icon f7-icons">compose</i></a>
                <a class="link icon-only" v-on:click.prevent="deleteCategory(category.id, index)"><i class="icon f7-icons">trash</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </f7-page>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
          routeGetCategory: 'http://inventory-sys.herokuapp.com/api/categories',
          routeDeleteCategory: '',
        },
        categories: [],
        search: '',
      }
    },
    created: function () {
      var that = this;
      that.$$('.page-on-left').remove();
      axios.get(that.url.routeGetCategory).then(function(response){
        that.categories = response.data;
      });
    },
    mounted: function () {
      var that = this;
      that.$$('.page-on-left').remove();
    },
    methods: {
      editCategory: function (id) {
        var that = this
        that.$router.load({url: '/category-edit/category/'+id})
      },
      deleteCategory: function (id, index) {
        var that = this
        that.url.routeDeleteCategory = 'http://inventory-sys.herokuapp.com/api/categories/'+id;
        axios.delete(that.url.routeDeleteCategory).then(function(response){
          that.categories.splice(index, 1)
        });
      }
    }
  }
</script>
