<template>
  <f7-page>
    <f7-block-title>Edit Product</f7-block-title>
    <form class="list-block">
      <ul>
          <li class="">
              <div class="item-content">
                  <div class="item-inner">
                      <div class="item-title label">
                          Product Name
                      </div>
                      <div class="item-input">
                          <input v-model="product.product_name" class="" placeholder="Product Name" type="text">
                      </div>
                  </div>
              </div>
          </li>
          <li class="">
              <div class="item-content">
                  <div class="item-inner">
                      <div class="item-title label">
                          Product Description
                      </div>
                      <div class="item-input">
                          <textarea v-model="product.product_description" class="" placeholder="Product Description"></textarea>
                      </div>
                  </div>
              </div>
          </li>
          <li class="">
              <div class="item-content">
                  <div class="item-inner">
                      <div class="item-title label">
                          Barcode
                      </div>
                      <div class="item-input">
                          <input v-model="product.barcode" placeholder="Barcode" type="text">
                      </div>
                  </div>
              </div>
          </li>
          <li class="">
              <div class="item-content">
                  <div class="item-inner">
                      <div class="item-title label">
                          Category ID
                      </div>
                      <div class="item-input">
                          <input v-model="product.category_id" placeholder="Category" type="text" id="search-category">
                      </div>
                  </div>
              </div>
          </li>
          <li class="">
              <div class="item-content">
                  <div class="item-inner">
                      <div class="item-title label">
                          Price
                      </div>
                      <div class="item-input">
                          <input v-model="product.price" placeholder="Price" type="text">
                      </div>
                  </div>
              </div>
          </li>
      </ul>
      <br>
      <div class="row">
          <div class="col-50">
              <a @click="$router.back()" class="link button button-fill button-big">Cancel</a>
          </div>
          <div class="col-50">
              <a v-on:click.prevent="updateProduct" class="button button-fill button-big">Submit</a>
          </div>
      </div>
    </form>
  </f7-page>
</template>

<script>
  import axios from 'axios'

  export default {
    mounted: function () {
      var that = this;
      that.$f7.autocomplete({
        input: '#search-category',
        openIn: 'dropdown',
        preloader: true,
        valueProperty: 'id',
        textProperty: 'category_name',
        limit: 20,
        dropdownPlaceholderText: 'Search for Category',
        expandInput: true,
        source: function (autocomplete, query, render) {
          var results = [];
          var sample = query;
          if (query.length === 0) {
            render(results);
            return;
          }
          autocomplete.showPreloader();

          that.Dom7.ajax({
            url: that.url.routeCreateProduct,
            method: 'GET',
            dataType: 'json',
            data: {
                query: query
            },
            success: function (data) {
              for (var i = 0; i < data.length; i++) {
                  if (data[i].category_name.toLowerCase().indexOf(query.toLowerCase()) >= 0) {
                    results.push(data[i]);
                  }
              }
              autocomplete.hidePreloader();
              render(results);
            }
          });
        }
      });
    },
    data () {
      return {
        url: {
            routeCreateProduct: 'http://inventory-sys.herokuapp.com/api/products/create',
            routeUpdateProduct: '',
            routeEditProduct: '',
        },
        product: {
            product_name: '',
            product_description: '',
            barcode: '',
            category_id: '',
            price: '',
        }
      }
    },
    created: function () {
        var that = this;
        that.url.routeEditProduct = 'http://inventory-sys.herokuapp.com/api/products/'+that.$route.params.productId+'/edit';
        that.url.routeUpdateProduct = 'http://inventory-sys.herokuapp.com/api/products/'+that.$route.params.productId;
        axios.get(that.url.routeEditProduct).then(function(response){
            that.product = response.data;
        });
    },
    methods: {
        updateProduct: function () {
            var that = this;
            var data = {
                product_name: that.product.product_name,
                product_description: that.product.product_description,
                barcode: that.product.barcode,
                category_id: that.product.category_id,
                price: that.product.price,
            }
            axios.patch(that.url.routeUpdateProduct, data).then(function(response){
                that.$router.load({url: '/product/'})
            });
        }
    }
  }
</script>
