<template>
    <f7-page>
    <form class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" v-model="search">
        </div>
    </form>
    <f7-block-title>Products Table</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <a class="link icon-only" href="/product-create/"><i class="icon f7-icons">add_round</i></a>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">ID</th>
              <th class="label-cell">Name</th>
              <th class="label-cell">Category</th>
              <th class="label-cell">Barcode</th>
              <th class="label-cell">Price</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
             <tr v-for="(product, index) in filterBy(products, search, 'product_name', 'barcode', 'id')">
              <td class="label-cell">{{ product.id }}</td>
              <td class="label-cell">{{ product.product_name }}</td>
              <td class="label-cell">{{ product.category_id }}</td>
              <td class="label-cell">{{ product.barcode }}</td>
              <td class="label-cell">{{ product.price }}</td>
              <td class="actions-cell">
                <a class="link icon-only" v-on:click.prevent="editProduct(product.id)"><i class="icon f7-icons">compose</i></a>
                <a class="link icon-only" v-on:click.prevent="deleteProduct(product.id,index)"><i class="icon f7-icons">trash</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </f7-page>

</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
          routeGetProduct: 'http://inventory-sys.herokuapp.com/api/products',
          routeDeleteProduct: '',
        },
        products: [],
        search: '',
      }
    },
    created: function () {
      var that = this;
      that.$$('.page-on-left').remove();
      axios.get(that.url.routeGetProduct).then(function(response){
        that.products = response.data;
      });
    },
    mounted: function () {
      var that = this;
      that.$$('.page-on-left').remove();
    },
    methods: {
      editProduct: function (id) {
        var that = this
        that.$router.load({url: '/product-edit/product/'+id})
      },
      deleteProduct: function (id, index) {
        var that = this
        that.url.routeDeleteProduct = 'http://inventory-sys.herokuapp.com/api/products/'+id;
        axios.delete(that.url.routeDeleteProduct).then(function(response){
          that.products.splice(index, 1)
        });
      }
    }
  }
</script>
