<template>
    <!-- App -->
    <div id="app">

        <!-- Statusbar -->
        <f7-statusbar></f7-statusbar>

        <!-- Main Views -->
        <f7-views>
            <f7-view id="main-view" navbar-through :dynamic-navbar="true" main url="/">

                <!-- Navbar -->
                <f7-navbar>
                    <f7-nav-center sliding>Orchids Bookstore Inventory System</f7-nav-center>
                </f7-navbar>

                <!-- Pages -->
                <f7-pages>
                  <f7-page>
                    <div class="page-content login-screen-content" v-show="!isAuthenticated">
                      <div class="login-screen-title">Login</div>
                      <form class="list-block">
                        <ul>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">Username</div>
                                <div class="item-input">
                                  <input name="username" :disabled="isAuthenticated" v-model="auth.username" placeholder="Username" type="text">
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">Password</div>
                                <div class="item-input">
                                  <input name="password" :disabled="isAuthenticated" v-model="auth.password" placeholder="Password" type="password">
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </form>
                      <div class="list-block">
                        <ul>
                          <li>
                            <a v-on:click.prevent="handleAuth" :disabled="isAuthenticated" class="button button-fill close-login-screen button-big">Sign In</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </f7-page>
                </f7-pages>

                <div v-show="isAuthenticated" class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <a href="/stock" class="link">
                            <i class="icon f7-icons">box_fill</i>
                            <span class="">Stocks</span>
                        </a>
                        <a href="/product" class="link">
                            <i class="icon f7-icons">bag_fill</i>
                            <span class="">Product</span>
                        </a>
                        <a href="/category" class="link">
                            <i class="icon f7-icons">list_fill</i>
                            <span class="">Categories</span>
                        </a>
                    </div>
                </div>

            </f7-view>
        </f7-views>
    </div>
</template>
<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
          stock: '/stock',
          product: '/product',
          category: '/category',
          routeLogin: 'http://inventory-sys.herokuapp.com/api/login',
        },
        auth: {
          username: '',
          password: '',
        },
        isAuthenticated: false,
      }
    },
    methods: {
      handleAuth: function () {
        var that = this;
        axios.post(that.url.routeLogin, that.auth).then(function(response){
          var result = response.data
          window.global_user = {}
          global_user = response.data
          console.log(global_user);
          f7.mainView.router.load({url: '/stock'});
          that.isAuthenticated = true;
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });
      }
    }
  }
</script>

