<template>
    <f7-page>
        <f7-block-title>Add Stock</f7-block-title>
        <form class="list-block">
            <ul>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Transaction ID
                            </div>
                            <div class="item-input">
                                <input v-model="stock.transaction_id" placeholder="Transaction ID" type="text">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Supplier Name
                            </div>
                            <div class="item-input">
                                <input v-model="stock.supplier_name" placeholder="Supplier Name" type="text">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Product ID
                            </div>
                            <div class="item-input">
                                <input v-model="stock.product_id" placeholder="Product" type="text" id="search-product">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Quantity
                            </div>
                            <div class="item-input">
                                <input v-model="stock.quantity_initial" placeholder="Quantity" type="text">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Cost
                            </div>
                            <div class="item-input">
                                <input v-model="stock.cost" placeholder="Cost" type="text">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                Arrival Date
                            </div>
                            <div class="item-input">
                                <input v-model="stock.arrival_date" placeholder="Arrival Date" type="text" id="arrival_date-picker">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <br>
            <div class="row">
              <div class="col-50">
                  <a @click="$router.back()" class="link button button-fill button-big">Cancel</a>
              </div>
              <div class="col-50">
                  <a v-on:click.prevent="storeStock" class="button button-fill button-big">Submit</a>
              </div>
            </div>
        </form>
    </f7-page>
</template>

<script>
  import axios from 'axios'
  export default {
    mounted: function () {
      var that = this;
      that.$f7.calendar({
        input: '#arrival_date-picker'
      });

       that.$f7.autocomplete({
        input: '#search-product',
        openIn: 'dropdown',
        preloader: true,
        valueProperty: 'id',
        textProperty: 'product_name',
        limit: 20,
        dropdownPlaceholderText: 'Search for Product',
        expandInput: true,
        source: function (autocomplete, query, render) {
          var results = [];
          if (query.length === 0) {
            render(results);
            return;
          }
          autocomplete.showPreloader();

          that.Dom7.ajax({
            url: 'http://inventory-sys.herokuapp.com/api/stocks/create',
            method: 'GET',
            dataType: 'json',
            data: {
                query: query
            },
            success: function (data) {
              for (var i = 0; i < data.length; i++) {
                  if (data[i].product_name.toLowerCase().indexOf(query.toLowerCase()) >= 0) {
                    results.push(data[i]);
                  }
              }
              autocomplete.hidePreloader();
              render(results);
            }
          });
        }
      });

    },
    data () {
      return {
        url: {
            routeStoreStock: 'http://inventory-sys.herokuapp.com/api/stocks',
            routeCreateStock: 'http://inventory-sys.herokuapp.com/api/stocks/create',
        },
        stock: {
            transaction_id: '',
            supplier_name: '',
            employee_id: '',
            product_id: '',
            quantity_onhand: '',
            quantity_initial: '',
            cost: '',
            arrival_date: '',
        }
      }
    },
    methods: {
        storeStock: function () {
            var that = this;
            var data = {
                transaction_id: that.stock.transaction_id,
                employee_id: global_user.name,
                supplier_name: that.stock.supplier_name,
                product_id: that.stock.product_id,
                quantity_initial: that.stock.quantity_initial,
                quantity_onhand: that.stock.quantity_initial,
                cost: that.stock.cost,
                arrival_date: that.$$('#arrival_date-picker').val(),
            }
            axios.post(that.url.routeStoreStock, data).then(function(response){
                that.$router.load({url: '/stock/'})
            });
        }
    }
  }
</script>
