<template>
  <f7-page>
    <form class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" v-model="search">
        </div>
    </form>
    <f7-block-title>Stocks Table</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <a class="link icon-only" href="/stock-create/"><i class="icon f7-icons">add_round</i></a>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">ID</th>
              <th class="label-cell">Transaction ID</th>
              <th class="label-cell">Employee Name</th>
              <th class="label-cell">Supplier Name</th>
              <th class="label-cell">Product</th>
              <th class="label-cell">Cost</th>
              <th class="label-cell">Quantity (On-hand)</th>
              <th class="label-cell">Quantity (Initial)</th>
              <th class="label-cell">Arrival Date</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(stock, index) in filterBy(stocks, search, 'transaction_id', 'arrival_date', 'product_id')">
              <td class="label-cell">{{ stock.id }}</td>
              <td class="label-cell">{{ stock.transaction_id }}</td>
              <td class="label-cell">{{ stock.employee_id }}</td>
              <td class="label-cell">{{ stock.supplier_name }}</td>
              <td class="label-cell">{{ stock.product_id }}</td>
              <td class="label-cell">{{ stock.cost }}</td>
              <td class="label-cell">{{ stock.quantity_onhand }}</td>
              <td class="label-cell">{{ stock.quantity_initial }}</td>
              <td class="label-cell">{{ stock.arrival_date }}</td>
              <td class="actions-cell">
                <a class="link icon-only" v-on:click.prevent="editStock(stock.id)"><i class="icon f7-icons">compose</i></a>
                <a class="link icon-only" v-on:click.prevent="deleteStock(stock.id,index)"><i class="icon f7-icons">trash</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br><br><br><br><br>
  </f7-page>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        url: {
          routeGetStock: 'http://inventory-sys.herokuapp.com/api/stocks',
          routeDeleteStock: '',
        },
        stocks: [],
        search: '',
      }
    },
    created: function () {
      var that = this;
      that.$$('.page-on-left').remove();
      axios.get(that.url.routeGetStock).then(function(response){
        that.stocks = response.data;
      });
    },
    mounted: function () {
      var that = this;
      that.$$('.page-on-left').remove();
    },
    methods: {
      editStock: function (id) {
        var that = this
        that.$router.load({url: '/stock-edit/stock/'+id})
      },
      deleteStock: function (id, index) {
        var that = this
        that.url.routeDeleteStock = 'http://inventory-sys.herokuapp.com/api/stocks/'+id;
        axios.delete(that.url.routeDeleteStock).then(function(response){
          that.stocks.splice(index, 1)
        });
      }
    }
  }
</script>
